<ion-header>
  <ion-navbar color="tmp">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-toolbar>
        <ion-searchbar [(ngModel)]="ville" placeholder="Rechercher" autocomplete="on" showCancelButton cancelButtonText="" id="rechercheVille"></ion-searchbar>
    </ion-toolbar>
      <ion-icon name="refresh"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content class='home'>

<ion-grid *ngIf="weather">
  <h4 class="location">{{weather.name}}, {{weather.sys.country}}</h4>
  <div class="icon"><img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" alt=""></div>
  <h1 class="temperature">{{weather.main.temp}}&deg;</h1>
  <h3 class="desc">{{ traduction(weather.weather[0].description) }}</h3>
  <p style="margin-left: 5px">Dernière mise à jour: <br/>{{ GetDate() }}</p>

  <ion-row>
    <ion-col>
      <ion-list>
        <ion-grid class="card-list">
          <ion-row class="rowDetail">
            <ion-col col-6 class="itemName" style="color: #3B7646">
              <ion-icon name="cloud"></ion-icon>
              Pressure
            </ion-col>
            <ion-col col-6 class="col_ion">{{ weather.main.pressure}}HPa</ion-col>
          </ion-row>
          <ion-row class="rowDetail">
            <ion-col col-6 class="itemName" style="color: #3B7646">
              <ion-icon name="umbrella"></ion-icon>
              Humidité
            </ion-col>
            <ion-col col-6 class="col_ion">{{ weather.main.humidity }}%</ion-col>
          </ion-row>
          <ion-row class="rowDetail">
            <ion-col col-6 class="itemName" style="color: #3B7646">
              <ion-icon name="compass"></ion-icon>
              Direction du Vent
            </ion-col>
            <ion-col col-6 class="col_ion">{{ windDirection(weather.wind.deg) }}</ion-col>
          </ion-row>
          <ion-row class="rowDetail">
            <ion-col col-6 class="itemName" style="color: #3B7646">
              <ion-icon name="speedometer"></ion-icon>
              Vitesse du Vent
            </ion-col>
            <ion-col col-6 class="col_ion">{{ weather.wind.speed}}M/S</ion-col>
          </ion-row>
          <ion-row class="rowDetail">
            <ion-col col-6 class="itemName" style="color: #3B7646">
              <ion-icon name="ios-globe-outline"></ion-icon>
              Coordonnées
            </ion-col>
            <ion-col col-6 class="col_ion">[{{ weather.coord.lon }}, {{ weather.coord.lat }}]</ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-col>
  </ion-row>

  <div style="margin-left: 5px">Lever du Soleil: {{ GetDay(weather.sys.sunrise) }}</div>
  <div style="margin-left: 5px">Coucher du Soleil: {{ GetDay(weather.sys.sunset) }}</div>
</ion-grid>

  <!-- <ion-grid *ngIf="weather">
      <ion-row>
        <ion-col width-50 offset-25>
          <h4 class="location">{{weather.name}}, {{weather.sys.country}}</h4>
          <div class="icon"><img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png" alt=""></div>
          <h1 class="temperature">{{weather.main.temp}}&deg;</h1>
          <h3 class="desc">{{ traduction(weather.weather[0].description) }}</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <ion-list>
            <ion-item>
              <strong>Pressure: </strong>{{weather.main.pressure}}
            </ion-item>
            <ion-item>
              <strong>Humidité: </strong>{{weather.main.humidity}}
            </ion-item>
            <ion-item>
              <strong>Vitesse du vent: </strong>{{weather.wind.speed}}m/s
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-card class="card-ion">
        <ion-card-content>
          <ion-card-header class="header">Détails</ion-card-header>
          <ion-grid class="card-list">
            <ion-row class="rowDetail">
              <ion-col col-6 class="itemName">
                <ion-icon name="cloud"></ion-icon>
                Pressure
              </ion-col>
              <ion-col col-6 class="col_ion">{{ weather.main.pressure}}HPa</ion-col>
            </ion-row>
            <ion-row class="rowDetail">
              <ion-col col-6 class="itemName">
                <ion-icon name="umbrella"></ion-icon>
                Humidité
              </ion-col>
              <ion-col col-6 class="col_ion">{{ weather.main.humidity }}%</ion-col>
            </ion-row>
            <ion-row class="rowDetail">
              <ion-col col-6 class="itemName">
                <ion-icon name="ios-globe-outline"></ion-icon>
                Longitude
              </ion-col>
              <ion-col col-6 class="col_ion">{{ weather.coord.lon }}</ion-col>
            </ion-row>
            <ion-row class="rowDetail">
              <ion-col col-6 class="itemName">
                <ion-icon name="ios-globe-outline"></ion-icon>
                Latitude
              </ion-col>
              <ion-col col-6 class="col_ion">{{ weather.coord.lat }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-ion">
        <ion-card-content>
          <ion-card-header class="header">Vent</ion-card-header>
          <ion-grid class="card-list">
            <ion-row class="rowDetail">
              <ion-col col-6 class="itemName">
                <ion-icon name="compass"></ion-icon>
                Direction
              </ion-col>
              <ion-col col-6 class="col_ion">{{ windDirection(weather.wind.deg) }}</ion-col>
            </ion-row>
            <ion-row class="rowDetail">
              <ion-col col-6 class="itemName">
                <ion-icon name="speedometer"></ion-icon>
                Vitesse
              </ion-col>
              <ion-col col-6 class="col_ion">{{ weather.wind.speed}}M/S</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card class="card-ion">
        <ion-card-content>
          <ion-grid class="card-list">
            <ion-row class="rowDetail">
              <ion-col col-6 class="itemName">
                <ion-icon name="ios-partly-sunny"></ion-icon>
                Lever du Soleil
              </ion-col>
              <ion-col col-6 class="col_ion">{{ GetDay(weather.sys.sunrise) }}</ion-col>
            </ion-row>
            <ion-row class="rowDetail">
              <ion-col col-6 class="itemName">
                <ion-icon name="ios-cloudy-night"></ion-icon>
                Coucher du Soleil
              </ion-col>
              <ion-col col-6 class="col_ion">{{ GetDay(weather.sys.sunset) }}</ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
  </ion-grid> -->

  <ion-segment  class="SwipedTabs-tabs"  >
      <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
      [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
        {{tab}}
      </ion-segment-button>
    </ion-segment>
  
    <!-- here is our dynamic line  "indicator"-->
    <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>
  
    <ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
                (ionSlideWillChange)="updateIndicatorPosition()"
                (ionSlideDidChange)="updateIndicatorPosition()"
                (pan)="updateIndicatorPosition()"
                [pager]="false"
          >
      <ion-slide>
        <ion-grid *ngIf="weather2">
            <ion-list>
                <ion-item>
                  <ion-avatar item-start>
                      <img src="http://openweathermap.org/img/w/{{weather2.list[0].weather[0].icon}}.png" alt="">
                  </ion-avatar>
                  <h2>Date: {{ GetDay(weather2.list[0].dt) }}</h2>
                  <h3>Temperature: {{weather2.list[0].main.temp}}&deg;</h3>
                  <p>Vitesse du Vent: {{ weather2.list[0].wind.speed}}M/S</p>
                </ion-item>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="http://openweathermap.org/img/w/{{weather2.list[1].weather[0].icon}}.png" alt="">
                    </ion-avatar>
                    <h2>Date: {{ GetDay(weather2.list[1].dt) }}</h2>
                    <h3>Temperature: {{weather2.list[1].main.temp}}&deg;</h3>
                    <p>Vitesse du Vent: {{ weather2.list[1].wind.speed}}M/S</p>
                </ion-item>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="http://openweathermap.org/img/w/{{weather2.list[2].weather[0].icon}}.png" alt="">
                    </ion-avatar>
                    <h2>Date: {{ GetDay(weather2.list[2].dt) }}</h2>
                    <h3>Temperature: {{weather2.list[2].main.temp}}&deg;</h3>
                    <p>Vitesse du Vent: {{ weather2.list[2].wind.speed}}M/S</p>
                </ion-item>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="http://openweathermap.org/img/w/{{weather2.list[3].weather[0].icon}}.png" alt="">
                    </ion-avatar>
                    <h2>Date: {{ GetDay(weather2.list[3].dt) }}</h2>
                    <h3>Temperature: {{weather2.list[3].main.temp}}&deg;</h3>
                    <p>Vitesse du Vent: {{ weather2.list[3].wind.speed}}M/S</p>
                </ion-item>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="http://openweathermap.org/img/w/{{weather2.list[4].weather[0].icon}}.png" alt="">
                    </ion-avatar>
                    <h2>Date: {{ GetDay(weather2.list[4].dt) }}</h2>
                    <h3>Temperature: {{weather2.list[4].main.temp}}&deg;</h3>
                    <p>Vitesse du Vent: {{ weather2.list[4].wind.speed}}M/S</p>
                </ion-item>
            </ion-list>
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <h1>Demain</h1>
      </ion-slide>
      <ion-slide>
        <h1>Plus tard</h1>
      </ion-slide>
    </ion-slides>
    
</ion-content>
